html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
}

.header-container {
    background-color: rgb(18, 32, 32) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 600px;
}

h1 {
    color: rgb(216, 255, 255);
}

p {
    color: rgb(216, 255, 255)
}