html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    background-color: black ;
    justify-content: center;
}

.header-container {
    background-color: #112A46 ;
    width: 320px;
    padding: 10px;
    border: 5px solid #ACC8E5;
    color: #ACC8E5;
    text-align: center;
    
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }